body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 1.5rem;
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  color: #cd022f;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #cd022f;
  opacity: 0;
}

/*Navigation-start*/
.nav-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", Arial;
}

.nav-wrapper::before,
.nav-wrapper::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  background-color: #eafbff;
}

.nav-wrapper::after {
  background-color: #cd022f;
}

.nav-wrapper nav {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  max-width: 500px;
  margin-top: 100px;
  margin-left: 7px;
  padding-right: 30px;
  line-height: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 0;
  overflow: hidden;
  transition: 0.4s cubic-bezier(0.77, 0, 0.18, 1);
}

.nav-wrapper.active ul {
  width: 420px;
  margin-right: 20px;
}

.nav-items li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-items li svg {
  fill: #cd022f;
}

a {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  transition: 0.3s;
}

a:hover {
  color: #cd022f;
}

.nav-toogler {
  position: relative;
  display: inline-block;
  width: 40px;
  cursor: pointer;
}

.nav-wrapper:not(.active) .nav-toogler {
  margin-left: -10px;
}

.nav-toogler::before,
.nav-toogler::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  border: 2px solid #cd022f;
  border-radius: 10px;
  background-color: transparent;
  transition: 0.4s cubic-bezier(0.77, 0, 0.18, 1);
}

.nav-toogler::after {
  margin-top: 10px;
}

.nav-wrapper.active .nav-toogler::before,
.nav-wrapper.active .nav-toogler::after {
  position: absolute;
  top: 50%;
  background-color: #cd022f;
  transform: rotate(135deg);
}

.nav-wrapper.active .nav-toogler::after {
  transform: rotate(-135deg);
  margin-top: 0;
}

/*Navigation-end*/
/*Slider-start*/
.slider {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto !important;
  margin-bottom: 100px;
  overflow: hidden;
}

.images-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.5s;
}

.images-container .slider-item {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../images/Picture.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider-item-text {
  color: #cd022f;
  margin: 5px 0 0 0;
}

.buttons-block > div {
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 25px;
  z-index: 99;
}

#prev-btn {
  left: 50px;
}

#prev-btn::after {
  content: "<";
  color: #cd022f;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 3px;
  cursor: pointer;
}

#next-btn {
  right: 50px;
}

#next-btn::after {
  content: ">";
  color: #cd022f;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 3px;
  cursor: pointer;
}

#dots-block {
  z-index: 100;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 15px;
  margin-right: 7px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background: #eeeeee;
  cursor: pointer;
  outline: none;
}

.dot-active {
  background: #000;
}

#dots-block {
  display: none;
}

/*Slider-end*/
/*Scroll-down-start*/
.scroll-down {
  text-align: center;
}

.scroll-down::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%);
}

.scroll-down a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 100px;
  margin-left: -38px;
  bottom: 0;
  z-index: 2;
  display: inline-block;
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  color: #cd022f;
  font-size: 10px;
}

.scroll-down a:hover {
  opacity: 0.5;
}

#scroll-down a {
  padding-top: 65px;
}

#scroll-down a span {
  position: absolute;
  top: 0;
  left: 48.2%;
  bottom: -2%;
  width: 11px;
  height: 11px;
  margin-left: -12px;
  border-left: 2px solid #cd022f;
  border-bottom: 2px solid #cd022f;
  transform: rotate(-45deg);
  animation: scroll 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

#scroll-down a span:nth-of-type(1) {
  animation-delay: 0s;
  top: 40px;
}

#scroll-down a span:nth-of-type(2) {
  top: 25px;
  animation-delay: 0.15s;
}

#scroll-down a span:nth-of-type(3) {
  top: 32px;
  animation-delay: 0.3s;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*Scroll-down-end*/
@media (max-width: 568px) {
  .navigation {
    margin-top: 60%;
    flex-direction: column-reverse;
    max-width: 90%;
    width: 100%;
  }
  .active ul {
    width: 100% !important;
  }
  .nav-wrapper:not(.active) .nav-toogler {
    margin-left: 30px;
  }
  .nav-toogler {
    margin-left: 30px;
  }
  .slider-item-text {
    font-size: 1.2rem;
  }
  #prev-btn {
    left: 5px;
  }
  #next-btn {
    right: 5px;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal {
  background: #fff;
  padding: 2rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay,
.modal {
  display: none;
}

body.open {
  overflow: hidden;
}

.open .overlay {
  display: block;
}

.open .modal {
  display: block;
}

.main {
  margin-top: -5px;
}

.about {
  background: #000;
  padding: 93px 0 132px 0;
  margin: -2px 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-container-whoAmI {
  width: 50%;
}

.about-container-whatIdo {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.about-container-whoAmI-text p {
  font-size: 0.9rem;
  line-height: 45px;
  margin-bottom: 60px;
}

.about-container-whoAmI-skills h2 {
  margin-bottom: 33px;
}

.about-container-whoAmI-skills-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.about-container-whoAmI-skills-container:before {
  content: "";
  display: flex;
  width: 23px;
  height: 4px;
  font-size: 2rem;
  background: #cd022f;
  margin-right: -2px;
}

.about-container-whoAmI-skills-container p {
  font-weight: bold;
  font-size: 13px;
  display: flex;
  padding: 0 9px;
  border-left: 4px solid #cd022f;
  border-right: 4px solid #cd022f;
  transform: skew(-0.06turn, 0deg);
}

.about-container-whoAmI-skills-container p span {
  transform: skew(0.06turn, 0deg);
  font-style: normal;
  white-space: nowrap;
  display: flex;
}

.about-container-whoAmI-skills-container hr {
  width: 100%;
  height: 4px;
  background: #252525;
  border: none;
  border-radius: 0 10px 10px 0;
  position: relative;
}

.about-container-whoAmI-skills-container hr::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: #cd022f;
  margin-left: -2px;
  border-radius: 0 10px 10px 0;
}

.about-container-whoAmI-skills .about-container-whoAmI-skills-container:nth-of-type(1) hr::after {
  width: 75%;
}

.about-container-whoAmI-skills .about-container-whoAmI-skills-container:nth-of-type(2) hr::after {
  width: 82%;
}

.about-container-whoAmI-skills .about-container-whoAmI-skills-container:nth-of-type(3) hr::after {
  width: 96%;
}

.about-container-whoAmI-skills .about-container-whoAmI-skills-container:nth-of-type(4) hr::after {
  width: 24%;
}

.about-container-whoAmI-skills .about-container-whoAmI-skills-container:nth-of-type(5) hr::after {
  width: 39%;
}

.about-container-whatIdo-container {
  display: flex;
  align-items: flex-start;
  border-bottom: 3px solid #252525;
  padding-top: 30px;
  opacity: 0.3;
  cursor: pointer;
}

.about-container-whatIdo-container:hover {
  animation: about-opacity 3s infinite;
}

.about-container-whatIdo-container-info {
  margin-left: 25px;
  padding-bottom: 25px;
}

.about-container-whatIdo-container-info-tittle {
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 0;
}

.about-container-whatIdo-container-info-text {
  font-size: 0.9rem;
  line-height: 30px;
}

.about-container-whatIdo-container-svg {
  padding-left: 15px;
}

.about-container-whatIdo .about-container-whatIdo-container:nth-of-type(4) {
  border-bottom: none;
}

@keyframes about-opacity {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .about-container-whoAmI {
    width: 100%;
  }
  .about-container-whatIdo {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-container-whatIdo h2 {
    width: 100%;
  }
  .about-container-whatIdo-container {
    width: 48%;
  }
  .about-container-whatIdo .about-container-whatIdo-container:nth-of-type(4) {
    border-bottom: 3px solid #252525;
  }
}

@media (max-width: 768px) {
  .about-container-whoAmI-text p {
    line-height: normal;
  }
  .about-container-whatIdo-container {
    flex-direction: column;
    align-items: center;
  }
  .about-container-whatIdo-container-svg {
    margin-bottom: 15px;
  }
  .about-container-whoAmI-skills {
    margin-bottom: 50px;
  }
  .about-container-whatIdo-container-info-text {
    line-height: normal;
  }
}

label[for] {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1;
  overflow: auto;
  transform: scale(0);
  transition: transform 0.75s ease-out;
}

.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 96%;
  max-height: 96%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"]:checked + .lightbox {
  transform: scale(1);
}

input[type="checkbox"]:checked ~ .grid {
  opacity: 0.125;
}

.grid {
  max-width: 100%;
  top: 0;
  left: 0;
  background-color: #222;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  text-align: center;
  transition: opacity 0.75s;
}

.grid .grid-item {
  width: 43px;
  height: 44px;
  display: inline-block;
  opacity: 0.75;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  opacity: 0;
}

.gallery-container {
  width: 25%;
  min-height: 300px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.grid .gallery-container:nth-of-type(1) {
  background: url(../images/work-icon1.png);
}

.grid .gallery-container:nth-of-type(2) {
  background: url(../images/work-icon2.png);
}

.grid .gallery-container:nth-of-type(3) {
  background: url(../images/work-icon3.png);
}

.grid .gallery-container:nth-of-type(4) {
  background: url(../images/work-icon4.png);
}

.grid .gallery-container:nth-of-type(5) {
  background: url(../images/work-icon5.png);
}

.grid .gallery-container:nth-of-type(6) {
  background: url(../images/work-icon6.png);
}

.grid .gallery-container:nth-of-type(7) {
  background: url(../images/work-icon7.png);
}

.grid .gallery-container:nth-of-type(8) {
  background: url(../images/work-icon8.png);
}

.icon-nav {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.grid .gallery-container:hover .grid-item {
  opacity: 1;
  cursor: pointer;
}

.grid .gallery-container:hover h3 {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .grid .gallery-container {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .grid .gallery-container {
    width: 100%;
  }
}

.grid img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

@media (min-height: 768px) {
  .gallery-container {
    min-height: 50vh;
  }
}

textarea {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */